.nav-div {
  height: 36px;
  font-size: .8rem;
  font-weight: 300;
  line-height: 36px;
  padding-left: 20px;
  cursor: pointer;
}

.collapsible-body .nav-div {
	height: 36px;
  padding-left: 47px;
  line-height: 36px;
  background-color: rgba(0,0,0,0.15);
  cursor: pointer;
}

.collapsible-body .nav-div:hover {
	background-color: rgba(240, 240, 240, 0.15);
}

.nav-link {
	cursor: pointer;
}

.nav-link:hover {
	background-color: rgba(240, 240, 240, 0.15);
}

.navbar {
  z-index: 1040;
}
.side-nav {
  margin-top: 57px !important;
}

@media (min-width: 1200px){
.fixed-sn main {
    margin-left: 20% !important;
    margin-right: 20% !important;
  }
}

.fixed-sn .double-nav, .fixed-sn main, .fixed-sn footer {
    padding-left: 0;
}

.mdb-skin .side-nav .collapsible li .no-collapse.active {
    background-color: rgba(0,0,0,0.0);
}

.full-page {
  height: 85vh;
}